<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
    {% endblock %}
    <title>{% block title %} {% endblock %}</title>

</head>
<body>
{% block main %}

{% endblock %}

{% block script %}
    {# script files #}

{% endblock %}

</body>
</html>
