{% extends "base.html" %}

{% block head %} {{ super() }}

    <link
            href="{{ url_for('static', filename='css/style.css', _external=True) }}"
            rel="stylesheet"
    />

{% endblock %}
{% block title %} Index Page {% endblock %}

{% block main %}
    {% include "pages/page-1.html" %}
    {% include "pages/page-2.html" %}
    {% include "pages/page-3.html" %}
    {% include "pages/page-4.html" %}
{% endblock %}


{# script files #}
{% block script %}
    {{ super() }}
    <script
            src="{{ url_for('static', filename='js/pie-chart.js', _external=True) }}"
            type="application/javascript"
    ></script>

{% endblock %}
