body {
    font-family: "Roboto", sans-serif !important;
    margin: 0 !important;
    overflow-x: hidden !important;
    padding: 0 !important;
    min-height: calc(100vh - 30px) !important;
}

.page {
    width: 216mm;
    min-height: 279mm !important;
}

.view {
    width: 216mm;
    min-height: 279mm !important;
}
